{% extends "nav_template.html"%}

<title>문제 풀기</title>

{% block main_container %}

<h2>상식문제 5선</h2>
<form action="">
    <div class="mb-3 mt-3 row">
        <div class="col-3">
            <label for="name" class="form-label">응시자 이름을 입력하세요 :</label>
        </div>
        <div class="col-9">
            <input type="" class="form-control" id="name" placeholder="이름을 입력하세요" name="name">
        </div>
    </div>

    {% for quest in questions %}

    
    <div class="mb-3 mt-3">
    
        문제 {{loop.index0+1}} : {{quest.question}} 

    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="answer1">
        <label class="form-check-label" for="answer1">
            <option value="answer1">1. {{quest.options[0]}}</option>
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="answer2">
        <label class="form-check-label" for="answer2">
            <option value="answer2">2. {{quest.options[1]}}</option>
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="answer3">
        <label class="form-check-label" for="answer3">
            <option value="answer3">3. {{quest.options[2]}}</option>
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="answer4">
        <label class="form-check-label" for="answer4">
            <option value="answer4">4. {{quest.options[3]}}</option>
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" formaction="/toy/data_list" formmethod="post">제출</button>
    <button type="submit" class="btn btn-primary" formaction="/">취소</button>

</form>
{% endblock %}